main {
    padding-left: 200px;
}

.section {
    padding-top:0;
    padding-bottom: 30px;
    position: relative;
    background-color: rgb(252, 252, 252);
}

.container {
    width: 95%;
}

h3 {
    padding: 18px 18px;
    margin: 0;
    font-weight: lighter;
}

p {
    font-family: "Jost", serif, sans-serifl;
    font-weight: lighter;
    font-size: 18px;
}

h6 {
    margin: 25px;
    line-height: 25px;
}