section#home div.container {
    color: white;
    font-weight: 200px;
    top: 0px;
    position: absolute
}

section#home div.container h2 {
    font-family: "Jost", serif, sans-serifl;
    font-weight: 500px;
    line-height: 150%;
    padding: 0 30px;
    margin-top: 60px; 
    text-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
}

section#home div.container .underline {
    border-bottom: 3px solid rgb(248, 243, 221);
}